.root {
    -fx-font-family: 'PT Serif';
    -fx-background-color: linear-gradient(to right, #c69eec, #e6b8d4);
    -fx-text-fill: #333;
}

.root * {
    -fx-background-color: transparent;
}



.list-view {
    -fx-background-color: #ede1f8;
    -fx-font-size: 18px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.list-view .list-cell {
    -fx-background-color: #ede1f8;
    -fx-border-radius: 15;
    -fx-text-fill: #333;
}

.list-view .list-cell:focused, .list-view .list-cell:selected {
    -fx-text-fill: #c694bb;
    -fx-font-weight: bold;
}

.list-view .list-cell:hover {
    -fx-background-color: rgba(200, 200, 200, 0.7);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#closeBtn {
    -fx-background-color: rgba(246, 113, 113, 0.5);
    -fx-text-fill: #EEE;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-background-radius: 1000;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-min-width: 17px;
    -fx-min-height: 17px;
    -fx-max-width: 17px;
    -fx-max-height: 17px;
}

#closeBtn:hover {
    -fx-background-color: rgba(252, 82, 82, 0.7);
}


.button {
    -fx-background-color: #b98ad9;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #a06cb9;
}

.button:pressed {
    -fx-background-color: #c4a2d9;
}

.eventLbl {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.coordLbl {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.topHbox {
    -fx-background-color: #ab77dc;
}

.userWindowHbox {
    -fx-background-color: #ede1f8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.userSp {
    -fx-background-color: TRANSPARENT;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.eventWindowVbox {
    -fx-background-color: #ede1f8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.buttonVbox {
    -fx-background-color: #ede1f8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.buttonVbox {
    -fx-background-color: #ede1f8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}


.userSp .scroll-bar {
    -fx-background-color: transparent;
}

.userSp .scroll-bar .thumb {
    -fx-background-color: #b98ad9;
    -fx-background-insets: 2;
    -fx-background-radius: 10;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #b98ad9;
    -fx-background-insets: 2;
    -fx-background-radius: 10;
    -fx-padding: 0.25em;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}


.list-view .scroll-bar .increment-arrow, .eventListLstV .scroll-bar .decrement-arrow {
    -fx-padding: 0;
}

.eventInfoLbl {
    -fx-font-family: 'PT Serif';
    -fx-font-size: 25px;
    -fx-text-fill: #333;
}

.eventSpecificLbl {
    -fx-font-family: 'PT Serif';
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}

.text-field {
    -fx-background-color: #ede1f8;
}